<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style-smoke.css' %}" />
		<title>Document</title>
	</head>
	<body>
		<section>
			<form action="/main_page">
				<!-- <video autoplay muted>
					<source src="{% static 'video/smoke.mp4' %}" type="video/mp4" />
				</video> -->
				<h1>
					<span>D</span>
					<span>I</span>
					<span>C</span>
					<span>E</span>
					<span></span>
					<span>T</span>
					<span>A</span>
					<span>V</span>
					<span>E</span>
					<span>R</span>
					<span>N</span>
				</h1>
				<button class="btn btn-primary">Enter!!!</button>
			</form>
		</section>
	</body>
</html>
